<pancakeswap-earn-undernavbar-div></pancakeswap-earn-undernavbar-div>
<div class="pools-section-header">
  <div class="section-header">
    <h1 class="section-header-title">Syrup Pools</h1>
    <h2 class="section-header-description h2-20">
      Just stake some tokens to earn.
    </h2>
    <h2 class="section-header-description h2-20">High APR, low risk.</h2>
  </div>
  <div class="section-header-help">
    <div>
      <button class="section-header-help-btn btn4">
        Help
        <img
          class="section-header-question-mark"
          src="/assets/svg/Farms_question_mark_white.svg"
          alt="Question mark"
        />
      </button>
    </div>
    <!-- flag -->
    <div class="generic_div">
      <div class="pools_syrup_generic_div">
        <h2 class="pools_syrup_h2-16">Auto CAKE Bounty</h2>
        <div class="pools_bounty_question-mark">
          <img
            class="pools_bounty_question-mark_img"
            src="/assets/svg/Farms_question_mark_violet.svg"
            alt=""
          />
          <div class="pools_bounty_bonus">
            <div>
              This bounty is given as a reward for providing a service to other
              users.<br />
            </div>
            <div>
              Whenever you successfully claim the bounty, you’re also helping
              out by activating the Auto CAKE Pool’s compounding function for
              everyone.<br />
            </div>
            <div>
              <b
                >Auto-Compound Bounty: 0.05% of all Auto CAKE pool users pending
                yield</b
              >
            </div>
          </div>
        </div>
      </div>
      <div class="pools_syrup_generic_div2">
        <div class="pools_syrup_generic_div2_div">
          <h2 class="h2-20 pools_syrup_value1">valore</h2>
          <h2 class="pools_syrup_h2-12">valore</h2>
        </div>
        <div>
          <button class="btn1">Claim</button>
        </div>
      </div>
    </div>
  </div>
</div>
