<div class="quick-container">
        
    <div class="quick">
    
        <div class="sinistra">
    
          <img class="patatesx" src="/assets/svg/Patasx.svg" >
    
        </div>
    
    <div class="center">
    
      <h3 class="quicktext"> Start in seconds.</h3>
      <div class="quicktext2">Connect your crypto wallet to start using the app in seconds.
        <div class="quicktext3">No registration needed.</div>
      </div>
     
        <a class="quicktext4" href="https://docs.pancakeswap.finance/"> Learn how to start </a>
      <div class="quicktext5"><button class="btn2" style="width:148px;height:48px;border-radius:17px;"> connect wallet</button> </div>
    
    </div>
    
    
        <div class="destra">
           
                <img class="patatedx" src="../assets/svg/patadx.svg">
            
                
    
        </div>
      
     </div>
    </div>
