footer { 
    left: 0;
    bottom: 0;
    width: 100vw -10px;
    background-color: #27262C;
    padding: 36px 40px 32px;
    display: flex;
    justify-content: center;
}

.footer_container {
    width: 1200px;
    padding-bottom: 20px;
}

.footer_column_container  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    width: 1200px;
    gap: 12vh;
}

.icon_a_social  img{
    width: 21px;
    height: 20px;
    padding: 10px;
}

.footer_column ul { 
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    line-height:  2;
}

.footer_column:nth-child(2) {
    margin-left: -20vh;
}

.footer_column ul li:first-child {
    color: var(--primary-color-violet);
    text-transform: uppercase;
    font-weight: 600;
}

.footer_column a { color: var(--primary-color-white);
text-decoration: none;
}

.footer_column a:hover {
    text-decoration: underline;
}

.footer_column span {
   color: var(--primary-color-white);
}

.footer_column span + li a  {
    color: var(--secondary-color-orange); 
}

.footer_logo_pancake {
    width: 160px;
}

.footer_container hr {
    opacity: 0.1;
    border-top: 1px solid rgb(128, 113, 129, 0.3);
}

.footer_row_container {
    display: flex;
    flex-direction: row;
     width: 1200px;
     justify-content: space-between;
     align-content: space-between;
}

.footer_row {
    display: flex;
    flex-direction: row;   
}

.footer_row ul { 
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.footer_row ul li:first-child {
    margin-right: 22px;
}

.footer_row ul li:nth-child(2) {
    margin-right: 5px;
}

.footer_language {
font-size: 17px;
color: #ABA4C9;
display: flex;
flex-direction: row;
gap: 0px  8px;
}

.footer_language:hover, .footer_language:hover label {
    cursor: pointer;
    color: #857e98;
}

.language_icon {
    width: 25px;
    height: 25px;
    filter:invert(85%) sepia(93%) saturate(4362%) hue-rotate(182deg) brightness(88%) contrast(82%);
}

.footer_language:hover .language_icon {
    filter:invert(51%) sepia(12%) saturate(584%) hue-rotate(215deg) brightness(97%) contrast(85%);
}
.footer_finance_link:link, .footer_finance_link {
    text-decoration: none;
    font-weight: 600;
    color: #ABA4C9; 
}

.footer_finance_svg {
    transition-duration: .4s;
    width: 20px;
}

.footer_finance_link:hover .footer_finance_svg   {
    transform: scale(1.3);
}

.footer_finance_label {
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

.footer_right_arrow {
    margin-left: 7px;
    width: 23px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(98deg) brightness(102%) contrast(101%);
}
