<header>
  <nav class="pancake-navbar">
    <div class="navbar_container">
      <a class="navbar_container_logo" href="#">
        <img
          class="navbar_logo2"
          src="/assets/Logos/pancakeswap logo/bunny-color.svg"
          alt="bunny-color"
        />
        <img
          class="navbar_logo1"
          src="/assets/Logos/pancakeswap logo/color-black.svg"
          alt="pancakeswap-logo"
        />
      </a>
      <div class="navbar_menu">
        <ul class="navbar_menu_list">
          <li class="navbar_dropdown">
            <a class="navbar_dropdown-link" href="#"> Trade </a>
            <ul class="navbar_dropdown-ul">
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> Exchange </a>
              </li>
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> Liquidity </a>
              </li>
            </ul>
          </li>
          <li class="navbar_dropdown">
            <a class="navbar_dropdown-link" href="#"> Earn </a>
            <ul class="navbar_dropdown-ul">
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#" e routerLink="/farms"> Farms </a>
              </li>
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> Pools </a>
              </li>
            </ul>
          </li>
          <li class="navbar_dropdown">
            <a class="navbar_dropdown-link" href="#"> Win </a>
            <ul class="navbar_dropdown-ul">
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#">
                  Trading Competition
                </a>
              </li>
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> Prediction (BETA) </a>
              </li>
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> Lottery </a>
              </li>
            </ul>
          </li>
          <li class="navbar_dropdown">
            <a class="navbar_dropdown-link" href="#"> NFT </a>
            <ul class="navbar_dropdown-ul">
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> Overview </a>
              </li>
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> Collections </a>
              </li>
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> Activity </a>
              </li>
            </ul>
          </li>
          <li class="navbar_dropdown">
            <a class="navbar_dropdown-link" href="#">
              <img
                class="navbar-three-dots-img"
                src="/assets/icons/three-dots.svg"
                alt="three-dots"
              />
            </a>
            <ul class="navbar_dropdown-ul">
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> Info </a>
              </li>
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> IFO </a>
              </li>
              <li class="navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#"> Voting </a>
              </li>
              <li class="navbar_dropdown-leaderboard navbar_dropdown-li">
                <a class="navbar_dropdown-item" href="#" routerLink = "/teams"> Leaderboard </a>
              </li>
              <li class="navbar_dropdown-li">
                <a
                  class="navbar_dropdown-item navbar_dropdown-item-flex"
                  href="https://medium.com/pancakeswap"
                  target="blank"
                >
                  Blog
                  <img
                    class="navbar_dropdown-li-img"
                    src="/assets/svg/external_link_violet.svg"
                    alt="external link"
                  />
                </a>
              </li>
              <li class="navbar_dropdown-li">
                <a
                  class="navbar_dropdown-item navbar_dropdown-item-flex"
                  href="https://docs.pancakeswap.finance/"
                  target="blank"
                >
                  Docs
                  <img
                    class="navbar_dropdown-li-img"
                    src="/assets/svg/external_link_violet.svg"
                    alt="external link"
                  />
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar_container">
      <div>
        <a class="navbar_link_finance" href="#">
          <div>
            <img
              src="/assets/svg/pancake_icon_colored.svg"
              alt="pancake_icon_colored"
            />
          </div>
          <div class="cake_value">
            <b class="cake_value">{{
              tempValue | currency: "USD":"symbol":"1.0-0"
            }}</b>
          </div>
        </a>
      </div>
      <div class="navbar_container_icon_lang">
        <img
          id="navbar_icon_lang"
          src="/assets/svg/language_icon_violet.svg"
          alt="language_icon"
        />
        <div class="navbar_button_lang_container">
          <button class="navbar_button_lang">العربية</button
          ><button class="navbar_button_lang">বাংলা</button
          ><button class="navbar_button_lang">English</button
          ><button class="navbar_button_lang">Deutsch</button
          ><button class="navbar_button_lang">Ελληνικά</button
          ><button class="navbar_button_lang">Español</button
          ><button class="navbar_button_lang">Suomalainen</button
          ><button class="navbar_button_lang">Filipino</button
          ><button class="navbar_button_lang">Français</button
          ><button class="navbar_button_lang">हिंदी</button
          ><button class="navbar_button_lang">Magyar</button
          ><button class="navbar_button_lang">Bahasa Indonesia</button
          ><button class="navbar_button_lang">Italiano</button
          ><button class="navbar_button_lang">日本語</button
          ><button class="navbar_button_lang">한국어</button
          ><button class="navbar_button_lang">Nederlands</button
          ><button class="navbar_button_lang">Polski</button
          ><button class="navbar_button_lang">Português (Brazil)</button
          ><button class="navbar_button_lang">Português</button
          ><button class="navbar_button_lang">Română</button
          ><button class="navbar_button_lang">Русский</button
          ><button class="navbar_button_lang">Svenska</button
          ><button class="navbar_button_lang">தமிழ்</button
          ><button class="navbar_button_lang">Türkçe</button
          ><button class="navbar_button_lang">Українська</button
          ><button class="navbar_button_lang">Tiếng Việt</button
          ><button class="navbar_button_lang">简体中文</button
          ><button class="navbar_button_lang">繁體中文</button>
        </div>
      </div>
      <div class="navbar_container_icon_sett">
        <img src="/assets/svg/settings_icon_violet.svg" alt="settings_icon" />
      </div>
      <div class="navbar_container_button1">
        <button class="btn1">Connect Wallet</button>
      </div>
    </div>
  </nav>
</header>
