<pancakeswap-form-dropdown
  [dropdown]="{title:'Titolo', label_1: 'Label 1', label_2:'Label 2', label_3:'Label 3', label_4:'Label 4'}"
></pancakeswap-form-dropdown>
<pancakeswap-form-text-search></pancakeswap-form-text-search>
<pancakeswap-form-text-trade></pancakeswap-form-text-trade>
<pancakeswap-form-poll></pancakeswap-form-poll>
<pancakeswap-form-slider [typeslider]="{type: 'forms'}"></pancakeswap-form-slider>
<pancakeswap-form-slider [typeslider]="{type: 'footer'}"></pancakeswap-form-slider>
