.win-container {
    width: calc(100vw - 7px);
    height: 85vh;
    background: linear-gradient(
    #70B7F1,
    #E9F1F6 );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.win-main {
    background: rgba(255, 255, 255, 0.6);
    padding: 15px;
    border: 1px solid rgb(231, 227, 235);
    border-radius: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.h2-40 {
    color: var(--secondary-color-blue);
}

.h2-40 span {
color: var(--primary-color-violet);
}

.win-main p {
    color:  var(--secondary-color-violet1);
}

.cards-win {
    width: 44vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5vw;

}

.first-card {
    border-radius: 25px;
    outline: 1px solid #FFB237;
    background-color: #FFB237;
    -ms-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.second-card {
    border-radius: 25px;
    outline: 1px solid #3C1786;
    background-color: #3C1786;
    -ms-transform: rotate(2deg);
    transform: rotate(2deg);
}