<div class="win"><div class="win-container">
  <pancakeswap-home-lottery-animation></pancakeswap-home-lottery-animation>
    <pancakeswap-home-prediction-animation></pancakeswap-home-prediction-animation>
   <div class="win-main"> 
      <h2 class="h2-40"><span>Win</span> millions in prizes</h2>
      <p>
        Provably fair, on-chain games.<br />
        Win big with PancakeSwap.
      </p>
      <div class="cards-win">
        <div class="first-card">
          <pancakeswap-home-win-prediction></pancakeswap-home-win-prediction>
        </div>
        <div class="second-card">
          <pancakeswap-home-win-lottery></pancakeswap-home-win-lottery>
        </div>
      </div>
  </div>

</div></div>
