<div class="generic_div">
  <div class="team-id">
    <h4>{{ team.id }}</h4>
  </div>
  <div class="main-team">
    <div class="team-info">
      <h2 class="h2-40">{{ team.name }}</h2>
      <p class="team-desc">
        {{ team.description }}
      </p>
      <div class="team-status">
        <span class="team-troph"
          ><span><img src="../../../../assets/svg/trophe.svg" /></span>
          <h4>Coming soon...</h4>
        </span>
        <span class="team-members"
          ><span><img src="../../../../assets/svg/members.svg" /></span>
          <h4>{{ valueDecimal(team.members)}}</h4>
        </span>
      </div>
    </div>
    <div class="team-more">
      <span class="team-image">
        <button class="btn3">See more</button>
        <img src="{{ team.urlAvatar }}"
      /></span>
    </div>
  </div>
</div>
