<div class="generic_div">
    <div class="team-id">
        <h4>1</h4>
    </div>
    <div class="team-info">
        <h2 class="h2-40">Syrup Storm</h2>
        <p class="team-desc">
            The storm's a-comin! Watch out! These bulls are stampeding in a syrupy
            surge!
        </p>
        <div class="team-status">
            <span class="team-troph"><span><img src="../../../../assets/svg/trophe.svg" /></span>
                <h4>Coming soon...</h4>
            </span>
        </div>
    </div>
</div>