<div class="lott-anim">
    <div class="b2"><img src="https://pancakeswap.finance/images/home/lottery-balls/2.png"></div>
    <div class="b4"><img src="https://pancakeswap.finance/images/home/lottery-balls/4.png"></div>
    <div class="b6"><img src="https://pancakeswap.finance/images/home/lottery-balls/6.png"></div>
    <div class="b7"><img src="https://pancakeswap.finance/images/home/lottery-balls/7.png"></div>
    <div class="b9"><img src="https://pancakeswap.finance/images/home/lottery-balls/9.png"></div>
</div>