<body>
  <pancakeswap-trade-undernavbar-div> </pancakeswap-trade-undernavbar-div>
  <div class="liquidity_body">
    <div class="liquidity_main">
      <div class="liquidity_box">
        <div class="liquidity_box_top">
          <div class="liquidity_box_top_left">
            <h2>Your Liquidity</h2>
            <p>Remove liquidity to receive tokens back</p>
          </div>
          <div class="liquidity_box_top_right">
            <img
              src="/assets/svg/recent_transaction.svg"
              alt="recent_transaction"
              width="20px"
            />
          </div>
        </div>
      </div>
      <div class="liquidity_wallet">
        <p>Connect to a wallet to view your liquidity</p>
        <button class="btn1">
          <a href="">+ Add Liquidity</a>
        </button>
      </div>
      <div class="generic_div">
        <div class="liquidity_generic_div"></div>
      </div>
      <div class="liquidity_footer">
        <div class="liquidity_footer_button" style="width: 100px"></div>

        <div class="liquidity_footer_link">
          <a href=""
            >Convert ERC-20 to BEP-20
            <img
              src="/assets/svg/graph_popup_cyan.svg"
              width="20px"
              alt="Convert ERC-20 to BEP-20"
          /></a>
          <div class="liquidity_svg_footer">
            <button class="btn4"><a href=""> Need Help? </a></button>
            <img src="/assets/svg/cloud.svg" alt="Need help?" />

            <img src="/assets/svg/pancaker_bunny.svg" alt="Need Help?" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
