<body>
  <pancakeswap-trade-undernavbar-div> </pancakeswap-trade-undernavbar-div>
  <div class="liquidity_body">
    <div class="liquidity_main">
      <div class="liquidity_box">
        <div class="liquidity_box_top">
          <div class="liquidity_box_top_left">
            <h2>Your Liquidity</h2>
            <p>Remove liquidity to receive tokens back</p>
          </div>
          <div class="liquidity_box_top_right">
            <pancakeswap-sett></pancakeswap-sett>
            <img
              src="/assets/svg/recent_transaction.svg"
              alt="recent_transaction"
              width="20px"
            />
          </div>
        </div>
      </div>
      <div class="liquidity_wallet">
        <p>Connect to a wallet to view your liquidity</p>
        <button class="btn1">
          <a href="">+ Add Liquidity</a>
        </button>
      </div>
      <div class="generic_div">
        <div class="liquidity_generic_div"></div>
      </div>
      <div class="liquidity_footer">
        <div class="liquidity_footer_button"></div>
      </div>
    </div>
  </div>
</body>
