<div class="cakentainer">
    <div class="cake1">
 <div class="cake1chad">
        <h2 class="caketitle">CAKE <span class="caketitle2"> makes our world go round. </span>  </h2> 
       <p class="cakedescription">CAKE token is at the heart of the PancakeSwap ecosystem. Buy it, win it, farm it, spend it, stake it... heck, you can even vote with it!</p>
  <div class="CakeFlex">
      <button class="btn2" style="width:148px;height:48px;border-radius:17px;">Buy CAKE
      </button>
     <a class="learn" href="https://docs.pancakeswap.finance/tokenomics/cake"> Learn  
     </a>
    </div>
 </div>
 
 
 <div class="cake1chad2">
    <img class="cakeanimation" src="../assets/svg/coinv3.svg" alt="">
 </div>
 
    </div>
<pancakeswap-small-bar></pancakeswap-small-bar>