<pancakeswap-form-dropdown
  [dropdown]="{
    width: 100,
    link: '/farms'
  }"
  [data]="data_1"
  (takenKey)="calltakeKey($event)"
  [firstKey] = "'address'"
  
>
</pancakeswap-form-dropdown>
<ul *ngFor="let item of callSortBy(data_1,keyToUse)">
  <li>
    {{ item.name }} ---- {{ item.phone }} ---- {{ item.email }} ----
    {{ item.address }} ---- {{ item.postalZip }} ---- {{ item.region }} ----
    {{ item.country }}
  </li>
 <!-- <li> {{ item.text }}  ----  {{ item.numberrange}} ---- {{item.currency}}</li> -->
</ul>
