<table><pancakeswap-form-dropdown
  [dropdown]="{
    width: 100,
    link: '/farms'
  }"
  [data]="data"
  [firstKey]="'address'"
>
</pancakeswap-form-dropdown>
<pancakeswap-form-text-search></pancakeswap-form-text-search>
<ul *ngFor="let item of callgetResult(callSortBy(data, keyToUse), 'name')">
  <li>
    {{ item.name }} ---- {{ item.phone }} ---- {{ item.email }} ----
    {{ item.address }} ---- {{ item.postalZip }} ---- {{ item.region }} ----
    {{ item.country }}
  </li>
</ul>

<!-- <pancakeswap-form-poll
[poll]="{
  option_1: 'Prova 1',
  option_2: 'Prova 2',
  option_3: 'Prova 3'
}"></pancakeswap-form-poll> -->

<pancakeswap-form-poll
[poll_options]="{
  prop_1: 'open',
  prop_2: 'soon',
  prop_3: 'closed'
}"

[firstOption] = "'open'"></pancakeswap-form-poll>

<div class="fintodiv">
<div *ngFor="let item of callopenProposal(data_poll)"><h6>{{item.name}} || {{item.proposal}}</h6></div>
</div>
</table>