<div class="home-people-img">
  <img src="/assets/svg/bunny_icon_violet.svg" />
</div>
<div class="home-people-container">
  <h2>Used by milions.</h2>
  <h2>Trusted by billions.</h2>
  <p>PancakeSwap has the most users of any decentralized platform, ever.</p>
  <p>
    And those users are now entrusting the platform with over $4.9 billion in
    funds.
  </p>

  <br />
  <p>Will you join them?</p>
  <div class="cards">
    <div class="card1">
      <div class="imgcard">
        <img src="/assets/svg/icon_community_violet.svg" />
      </div>
      <h2>3.1 milion</h2>
      <h3>users</h3>
      <p>in the last 30 days</p>
    </div>
    <div class="card2">
      <div class="imgcard">
        <img src="/assets/svg/trades_home.svg" />
      </div>
      <h2>41 milion</h2>
      <h3>trades</h3>
      <p>made in the last 30 days</p>
    </div>
    <div class="card3">
      <div class="imgcard">
        <img src="/assets/svg/icon_graph_homepage_pink.svg" />
      </div>
      <h2>$5 bilion</h2>
      <h3>staked</h3>
      <p>Total Value Locked</p>
    </div>
  </div>
</div>
<div class="imgback">
  <img src="/assets/svg/Home_violet_string.svg" alt="" />
</div>
