
<div class="phishing" *ngIf="luca">

    <div class="bunny-container">   
        
    </div>

    <div class="phi_position">
        <img class="phishing-bunny" src="../assets/Logos/warning logo/phishing-warning-bunny.png">
        <div class="phishing_warn">
             <span class="pwtext1" 
             >PHISHING WARNING: </span> 

             <span  class="pwtext2">please make sure you're visiting </span> 

             <span class="pwtext3">https://pancakeswap.finance </span> 

             <span class="pwtext4" 
         > - check the URL carefully.</span> 
         </div>
    </div>
       
    

    <div class="warn_position">
        
        <button class="warnclose_button" (click)="nasconDino()">
            <img class="gabbibo" src="../assets/svg/xbutton.svg" > </button>
     </div>

</div>