pancakeswap-home-section-header-container {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     padding: 48px 24px;
     background-image: var(--secondary-color-white-nuanced);
}
