<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <footer>
        <div class="footer_container">
            <div class="footer_column_container">
                <div class="footer_column">
                    <ul>
                        <li>about</li>

                        <li><a href="">contact</a></li>
                        <li><a href="">brand</a></li>
                        <li><a href="">blog</a></li>
                        <li><a href="">community</a></li>
                        <li><a href="">CAKE Token</a></li>
                        <span>—</span>
                        <li><a href="">online store</a></li>
                        <br>
                        <div class="icon_a_social"><a href="https://twitter.com/pancakeswap">
                                <img src="..\assets\svg\twitter_icon.svg"></a>
                            <a href="">
                                <img src="..\assets\svg\telegram_icon.svg"></a>
                            <a href="https://reddit.com/r/pancakeswap">
                                <img src="..\assets\svg\reddit_icon.svg"></a>

                            <a href="https://instagram.com/pancakeswap_official">
                                <img src="..\assets\svg\instagram_icon.svg">
                            </a>
                            <a href="https://instagram.com/pancakeswap_official">
                                <img src="..\assets\svg\github_icon.svg">
                            </a>
                            <a href="https://discord.gg/pancakeswap">
                                <img src="..\assets\svg\discord_icon.svg">
                            </a>
                        </div>
                    </ul>
                </div>

                <div class="footer_column">
                    <ul>
                        <li>help</li>

                        <li><a href="">custom support</a></li>
                        <li><a href="">troubleshooting</a></li>
                        <li><a href="">guides</a></li>

                    </ul>
                </div>

                <div class="footer_column">
                    <ul>
                        <li>developers</li>

                        <li><a href="">github</a></li>
                        <li><a href="">documentation</a></li>
                        <li><a href="">bug bounty</a></li>
                        <li><a href="">audits</a></li>
                        <li><a href="">careers</a></li>
                    </ul>
                </div>

                <div class="footer_column">
                    <ul>
                        <img src="..\assets\Logos\pancakeswap logo\color-white.svg" class="footer_logo_pancake">
                    </ul>
                </div>

            </div>

            <ul>
                <hr>
            </ul>
            <div class="footer_row_container">
                <div class="footer_row">
                    <ul>
                        <li> <label class="footer_switch">
                                <input type="checkbox">
                                <span class="footer slider round"></span>
                            </label></li>

                        <li class="footer_language"><img src="..\assets\svg\language_icon.svg" class="language_icon">
                            <label>EN</label>
                        </li>
                    </ul>
                </div>
                <a href="" class="footer_finance_link">
                    <div class="footer_row">
                        <ul>
                            <li> <img src="..\assets\svg\pancake_icon_colored.svg" class="footer_finance_svg"> <label
                                    class="footer_finance_label">$13.765</label></li>
                            <button class=button1> Buy CAKE <img src="..\assets\svg\right_arrow.svg"
                                    class="footer_right_arrow"></button>
                        </ul>
                    </div>
                </a>
            </div>
        </div>
    </footer>
</body>

</html>