<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>

  <body>
    <footer>
      <div class="footer_container">
        <div class="footer_column_container">
          <div class="footer_column">
            <ul>
              <li>about</li>

              <li><a href="">contact</a></li>
              <li><a href="">brand</a></li>
              <li><a href="">blog</a></li>
              <li><a href="">community</a></li>
              <li><a href="">CAKE Token</a></li>
              <span>—</span>
              <li><a href="">online store</a></li>
              <br />
            </ul>
          </div>

          <div class="footer_column">
            <ul>
              <li>help</li>

              <li><a href="">custom support</a></li>
              <li><a href="">troubleshooting</a></li>
              <li><a href="">guides</a></li>
            </ul>
          </div>

          <div class="footer_column">
            <ul>
              <li>developers</li>

              <li><a href="">github</a></li>
              <li><a href="">documentation</a></li>
              <li><a href="">bug bounty</a></li>
              <li><a href="">audits</a></li>
              <li><a href="">careers</a></li>
            </ul>
          </div>

          <div class="footer_column">
            <ul>
              <img
                src="..\assets\Logos\pancakeswap logo\color-white.svg"
                class="footer_logo_pancake"
              />
            </ul>
          </div>
        </div>

        <ul>
          <div class="icon_a_social">
            <a href="https://twitter.com/pancakeswap" target="_blank">
              <img src="..\..\..\assets\svg\twitter_icon.svg"
            /></a>
            <a href="">
              <img src="..\..\..\assets\svg\telegram_icon.svg" target="_blank"
            /></a>
            <a href="https://reddit.com/r/pancakeswap">
              <img src="..\..\..\assets\svg\reddit_icon.svg" target="_blank"
            /></a>

            <a
              href="https://instagram.com/pancakeswap_official"
              target="_blank"
            >
              <img src="..\..\..\assets\svg\instagram_icon.svg" />
            </a>
            <a
              href="https://instagram.com/pancakeswap_official"
              target="_blank"
            >
              <img src="..\..\..\assets\svg\github_icon.svg" />
            </a>
            <a href="https://discord.gg/pancakeswap" target="_blank">
              <img src="..\..\..\assets\svg\discord_icon.svg" />
            </a>
            <a href="https://discord.gg/pancakeswap" target="_blank">
              <img src="..\..\..\assets\svg\medium_icon.svg" />
            </a>
          </div>
          <br />
          <div class="hr"></div>
        </ul>
        <div class="footer_row_container">
          <div class="footer_row">
            <ul>
              <li>
                <pancakeswap-form-slider
                  [typeslider]="{ type: 'footer' }"
                ></pancakeswap-form-slider>
              </li>

              <li class="footer_language">
                <img
                  src="..\assets\svg\language_icon.svg"
                  class="language_icon"
                />
               
                <label>EN</label>
                 <div class="footer_button_lang_container">
                  <button class="footer_button_lang">العربية</button
                  ><button class="footer_button_lang">বাংলা</button
                  ><button class="footer_button_lang">English</button
                  ><button class="footer_button_lang">Deutsch</button
                  ><button class="footer_button_lang">Ελληνικά</button
                  ><button class="footer_button_lang">Español</button
                  ><button class="footer_button_lang">Suomalainen</button
                  ><button class="footer_button_lang">Filipino</button
                  ><button class="footer_button_lang">Français</button
                  ><button class="footer_button_lang">हिंदी</button
                  ><button class="footer_button_lang">Magyar</button
                  ><button class="footer_button_lang">Bahasa Indonesia</button
                  ><button class="footer_button_lang">Italiano</button
                  ><button class="footer_button_lang">日本語</button
                  ><button class="footer_button_lang">한국어</button
                  ><button class="footer_button_lang">Nederlands</button
                  ><button class="footer_button_lang">Polski</button
                  ><button class="footer_button_lang">Português (Brazil)</button
                  ><button class="footer_button_lang">Português</button
                  ><button class="footer_button_lang">Română</button
                  ><button class="footer_button_lang">Русский</button
                  ><button class="footer_button_lang">Svenska</button
                  ><button class="footer_button_lang">தமிழ்</button
                  ><button class="footer_button_lang">Türkçe</button
                  ><button class="footer_button_lang">Українська</button
                  ><button class="footer_button_lang">Tiếng Việt</button
                  ><button class="footer_button_lang">简体中文</button
                  ><button class="footer_button_lang">繁體中文</button>
                </div>
              </li>
            </ul>
          </div>
          <a href="" class="footer_finance_link">
            <div class="footer_row">
              <ul>
                <li>
                  <img
                    src="..\assets\svg\pancake_icon_colored.svg"
                    class="footer_finance_svg"
                  />
                  <label class="footer_finance_label">$13.765</label>
                </li>
                <button class="btn1">
                  Buy CAKE
                  <img
                    src="..\assets\svg\right_arrow.svg"
                    class="footer_right_arrow"
                  />
                </button>
              </ul>
            </div>
          </a>
        </div>
      </div>
    </footer>
  </body>
</html>
