body {
   display: flex;
   min-height: calc(100vh - 64px);
   justify-content: center;
  background-color: var(--secondary-color-white4);
}
.leadernpard {
  max-width: 1200px;
}
.leaderboard-title {
  margin-top: 4vh;
  border-bottom: 2px solid var(--secondary-color-violet1);
  margin-bottom: 2vh;
}

h1 {
  color: var(--primary-color-violet);
}

h6 {
  font-weight: 600;
  color: var(--secondary-color-blue);
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
}

.teams h2 {
  color: var(--secondary-color-blue);
}