<div class="carino">
  <div class="compocontainer">
    <h2 class="designtitle">TYPOGRAPHY</h2>
    <hr class="undertitle" />
    <div>
      <H2>FONT-FAMILY:KANIT-SANS-SERIF</H2>
      <h1>H1 HEADLINE 64px</h1>
      <h2 class="h2-40" style="color: black">H2 HEADLINE-40px</h2>
      <h2 class="h2-24" style="color: black">H2 HEADLINE-24px</h2>
      <h2 class="h2-20" style="color: black">H2 HEADLINE-20px</h2>
      <hr class="undertitle" />
    </div>
    <h2 class="designtitle">BUTTON</h2>
    <hr class="undertitle" style="width: 14%" />
    <div class="buttoncontainer">
      <pancakeswap-btn-double></pancakeswap-btn-double>

      <span> <button class="btn1">btn1</button> </span>

      <span> <button class="btn2">btn2</button> </span>
      <span> <button class="btn3">btn3</button> </span>
      <span> <button class="btn4">btn4</button> </span>
      <span> <button class="btn5">btn5</button> </span>
      <span> <button class="btn6">btn6</button> </span>
    </div>
    <hr class="undertitle" />

    <div class="formdesign"></div>
    <h2 class="designtitle" style="width: 28%">FORMS FIELD</h2>
    <hr class="undertitleF" />
    <pancakeswap-forms-container></pancakeswap-forms-container>
  </div>
  <hr class="undertitle" />
  <h2 class="designtitle">PALETTE COLORS</h2>
  <hr class="undertitle" style="width: 28%" />

  <div class="palettedesign">
    <h3 class="designtitle">PRIMARY COLOR</h3>
    <div class="palettefirst">
      <span class="palettedescription">
        <div
          class="palette"
          style="background-color: var(--primary-color-violet)"
        ></div>
        #7645d9</span
      >
      <span class="palettedescription">
        <div
          class="palette"
          style="background-color: var(--primary-color-cyan)"
        ></div>
        #1fc7d4</span
      >
      <span class="palettedescription">
        <div
          class="palette"
          style="background-color: var(--primary-color-black)"
        ></div>
        #000000</span
      >
      <span class="palettedescription">
        <div
          class="palette"
          style="background-color: var(--primary-color-white)"
        ></div>
        #ffffff</span
      >
    </div>
    <H3 class="designtitle">SECONDARY COLOR</H3>
    <div class="palettesecond">
      <span class="palettedescription"
        ><div
          class="palette"
          style="background-color: var(--secondary-color-violet1)"
        ></div>
        #7a6eaa</span
      >

      <span class="palettedescription"
        ><div
          class="palette"
          style="background-color: var(--secondary-color-blue)"
        ></div>
        #280d5f
      </span>
      <span class="palettedescription"
        ><div
          class="palette"
          style="background-color: var(--secondary-color-orange)"
        ></div>
        #ffb237</span
      >
      <span class="palettedescription"
        ><div
          class="palette"
          style="background-color: var(--secondary-color-pink)"
        ></div>
        ed4b9e</span
      >
      <span class="palettedescription"
        ><div
          class="palette"
          style="background-color: var(--secondary-color-white1)"
        ></div>
        eeeaf4
      </span>
      <span class="palettedescription"
        ><div
          class="palette"
          style="background-color: var(--secondary-color-white2)"
        ></div>
        #f4eeff</span
      >
      <span class="palettedescription"
        ><div
          class="palette"
          style="background-color: var(--secondary-color-white3)"
        ></div>
        eeeeee</span
      >
      <span class="palettedescription">
        <div
          class="palette"
          style="background-color: var(--secondary-color-white4)"
        ></div>
        #faf9fa
      </span>
      <span class="palettedescription"
        ><div
          class="palette"
          style="background-color: var(--secondary-color-gray)"
        ></div>
        #bdc2c4</span
      >
      <span class="palettedescription"
        ><div
          class="palette"
          style="background: var(--secondary-color-white-nuanced)"
        ></div>
        #e6fcff<br />
        #f1f0ff</span
      >
      <span class="palettedescription"
        ><div
          class="palette"
          style="background: var(--secondary-color-violet-nuanced)"
        ></div>
        #7645d9 <br />#5121b1</span
      >
      <span class="palettedescription"
        ><div
          class="palette"
          style="background: var(--secondary-color-white-nuanced-right-bottom)"
        ></div>
        #e5fdff<br />
        #f1f0ff</span
      >
    </div>
    <hr class="undertitle" />
  </div>
  <hr class="undertitle" />

  <h2 class="designtitle">LOGO</h2>
  <hr class="undertitle" style="width: 9%" />
  <div class="logodesign">
    <img class="designImg" src="../assets/Logos/cake logo/cake.png" />
    <img
      class="designImg"
      style="width: 200px"
      src="../assets/Logos/cake logo/black.png"
    />
    <img
      class="designImg"
      style="width: 60px"
      src="../assets/Logos/cake logo/icon-square-90.png"
    />
    <img
      class="designImg"
      style="width: 200px"
      src="../assets/Logos/cake logo/white.png"
    />
    <img
      class="designImg"
      src="../assets/Logos/pancakeswap logo/bunny-color.png"
    />
    <img
      class="designImg"
      style="width: 150px"
      src="../assets/Logos/pancakeswap logo/color-black.svg"
    />
    <img
      class="designImg"
      style="width: 150px"
      src="../assets/Logos/pancakeswap logo/color-white.svg"
    />
    <img
      class="designImg"
      src="../assets/Logos/pancakeswap logo/icon-square-128.png"
    />
    <img class="designImg" src="../assets/Logos/ticket logo/ticket.png" />
    <img
      class="designImg"
      src="../assets/Logos/ticket logo/icon-square-90.png"
    />
  </div>
  <hr class="undertitle" />
  <h2 class="designtitle">ICONS</h2>
  <hr class="undertitle" style="width: 10%" />
  <div class="icondesign">
    <img
      id="navbar_icon_lang"
      style="width: 50px"
      src="/assets/svg/language_icon_violet.svg"
      alt="language_icon"
    />
    <img
      style="width: 50px"
      src="/assets/svg/settings_icon_violet.svg"
      alt="settings_icon"
    />

    <a href="https://twitter.com/pancakeswap" target="_blank">
      <img style="width: 50px" src="..\..\..\assets\svg\twitter_icon.svg"
    /></a>
    <a href="">
      <img
        style="width: 50px"
        src="..\..\..\assets\svg\telegram_icon.svg"
        target="_blank"
    /></a>
    <a style="width: 50px" href="https://reddit.com/r/pancakeswap">
      <img
        style="width: 50px"
        src="..\..\..\assets\svg\reddit_icon.svg"
        target="_blank"
    /></a>
    <a href="https://instagram.com/pancakeswap_official" target="_blank">
      <img style="width: 50px" src="..\..\..\assets\svg\instagram_icon.svg" />
    </a>
    <a href="https://instagram.com/pancakeswap_official" target="_blank">
      <img style="width: 50px" src="..\..\..\assets\svg\github_icon.svg" />
    </a>
    <a href="https://discord.gg/pancakeswap" target="_blank">
      <img style="width: 50px" src="..\..\..\assets\svg\discord_icon.svg" />
    </a>
  </div>
  <hr class="undertitle" />
  <h2 class="designtitle">COMPONENTS</h2>

  <pancakeswap-navbar></pancakeswap-navbar>
</div>
