<div class="carino">
 
 <div class="compocontainer">

    <h2 class="designtitle">TYPOGHRAPY</h2>
    <div> 
        <h1> H1 64px</h1>
        <h2 class="h2-40"style=color:black>H2-40px</h2>
        <h2 class="h2-24"style=color:black>H2-24px</h2>
        <h2 class="h2-20"style=color:black>H2-20px</h2>
    </div>
 <h2>BUTTON</h2>
<pancakeswap-btn-double></pancakeswap-btn-double>  

 <span> <button class="btn1">pancakeswap</button>  </span>

 <span> <button class="btn2">pancakeswap</button>  </span>
 <span> <button class="btn3">pancakeswap</button>  </span>
 <span> <button class="btn4">pancakeswap</button>  </span>
 <span> <button class="btn5">pancakeswap</button>  </span>
 <span> <button class="btn6">pancakeswap</button>  </span>


 <hr style="background-color:aliceblue">
 <div class="formdesign"></div>
 <h2> FORMS</h2>
 <hr style="background-color:aliceblue">
<pancakeswap-forms-container></pancakeswap-forms-container>

</div>
<hr style="background-color:aliceblue">
<h2>PALETTE COLORS</h2>

<div class="palettedesign">
    <h3>PRIMARY COLOR</h3>
<div class="palettefirst"> 
    
    <div class="palette" style="background-color:var(--primary-color-violet)"></div>
    <div class="palette" style="background-color:var(--primary-color-cyan)"></div>
    <div class="palette" style="background-color:var(--primary-color-black)"></div>
    <div class="palette" style="background-color:var(--primary-color-white)"></div>
</div>
<H3>SECONDARY COLOR</H3>
<div class="palettesecond">
 
    <div class="palette" style="background-color:var(--secondary-color-violet1)"></div>
    <div class="palette" style="background-color:var(--secondary-color-blue)"></div>
    <div class="palette" style="background-color:var(--secondary-color-orange)"></div>
    <div class="palette" style="background-color:var( --secondary-color-pink)"></div>
    <div class="palette" style="background-color:var(--secondary-color-white1)"></div>
    <div class="palette" style="background-color:var(--secondary-color-white2)"></div>
    <div class="palette" style="background-color:var(--secondary-color-white3)"></div>
    <div class="palette" style="background-color:var(--secondary-color-white4)"></div>
    <div class="palette" style="background-color:var(--secondary-color-gray)"></div>
    <div class="palette" style="background:var(--secondary-color-white-nuanced)"></div>
    <div class="palette" style="background:var(--secondary-color-violet-nuanced)"></div>
    <div class="palette" style="background:var(--secondary-color-white-nuanced-right-bottom)"></div>

</div>
    
</div>
<div class="logodesign">
    <h2>LOGO</h2>
</div>
</div>
