<div class="carino">
 <div class="compocontainer">
 <h2>BUTTON</h2>
<pancakeswap-btn-double></pancakeswap-btn-double>   
<hr style="background-color:aliceblue">

 <hr style="background-color:aliceblue">
 <h2> FORMS</h2>
 <hr style="background-color:aliceblue">
<pancakeswap-forms-container></pancakeswap-forms-container>

</div>
<hr style="background-color:aliceblue">
<h2>PALETTE COLORS</h2>
<div class="palettecontainer">

    <div class="palette" style="background-color:var(--primary-color-violet)"></div>
    <div class="palette" style="background-color:var(--primary-color-cyan)"></div>
    <div class="palette" style="background-color:var(--primary-color-black)"></div>
    <div class="palette" style="background-color:var(--primary-color-white)"></div>
    <div class="palette" style="background-color:var(--secondary-color-violet1)"></div>
    <div class="palette" style="background-color:var(--secondary-color-blue)"></div>
    <div class="palette" style="background-color:var(--secondary-color-orange)"></div>
    <div class="palette" style="background-color:var( --secondary-color-pink)"></div>
    <div class="palette" style="background-color:var(--secondary-color-white1)"></div>
    <div class="palette" style="background-color:var(--secondary-color-white2)"></div>
    <div class="palette" style="background-color:var(--secondary-color-white3)"></div>
    <div class="palette" style="background-color:var(--secondary-color-white4)"></div>
    <div class="palette" style="background-color:var(--secondary-color-gray)"></div>
    <div class="palette" style="background:var(--secondary-color-white-nuanced)"></div>
    <div class="palette" style="background:var(--secondary-color-violet-nuanced)"></div>
    <div class="palette" style="background:var(--secondary-color-white-nuanced-right-bottom)"></div>
  
    
</div>
</div>
