.carino{
    width:calc(100vw-10px);
    height:calc(100vh-10px);
background: #b9f2ff;
    padding:20px;
    
    
}

.compoconatiner{
    width: calc(100vw-10px);
    height: 50vh; 
    background:blueviolet; 
    display:flex;
    flex-direction:column;
    gap: 5px;
  
}
h2{
    color:white;
}
.palettedesign{
    width: calc(100vw-10px);
    height: 50vh;
    display:flex;
    gap:5px;
    flex-direction: column;
     
}
.palettefirst{
    display:flex;
gap:10px;
}

.palettesecond{
    display:flex;
    gap:10px;
}
.palette{
    width:60px;
    height: 60px;
    border: solid 1px black;
    border-radius: 25%;
}

hr{
    width:calc(100vw-10px);
}