<div class="undernavbar_div">
  <div class="undernavbar_div_link1">
    <a class="undernavbar_link1" href="" routerLinkActive="active">Swap</a>
  </div>
  <div class="undernavbar_div_link2">
    <a class="undernavbar_link2" href="" routerLinkActive="active">Limit</a>
  </div>
  <div class="undernavbar_div_link3">
    <a
      class="undernavbar_link3"
      href=""
      e
      routerLink="/liquidity"
      routerLinkActive="active"
    >
      Liquidity
    </a>
  </div>
  <div class="undernavbar_div_link4">
    <a class="undernavbar_link4" href=""
      >Perpetual <img src="assets\svg\graph_popup_violet.svg" width="20px"
    /></a>
  </div>
</div>
