<div class="bunny-section-container">
  <div class="bunny-section-text">
    <h2 class="h2-40 title">The moon is made of pancakes.</h2>
    <h2 class="h2-20 description">
      Trade, earn, and win crypto on the most popular decentralized platform in
      the galaxy.
    </h2>
    <div class="buttons">
      <button class="btn1"><p class="wallet-btn">Connect Wallet</p></button>
      <button class="btn3">Trade Now</button>
    </div>
  </div>
  <div class="bunny-img-container">
    <img src="/assets/Logos/homepage-logos/bunny@2x.webp" class="bunny-img" />
    <img
      src="/assets/Logos/homepage-logos/star-l.png"
      class="star-img"
      alt="star"
    />
    <img
      src="/assets/Logos/homepage-logos/star-r.png"
      class="star-img"
      alt="star"
    />
    <img
      src="/assets/Logos/homepage-logos/star-top-r.png"
      class="star-img"
      alt="star"
    />
  </div>
</div>
