<div class="cake2">
    <div class="cake2containery">
        <div class="cakepiece">
            <span class="cakepiecevalue">Total supply</span>
            <span class="cakepiecevalue2">286,547,333</span>
    
           
        </div>
    </div>
    
    <div class="cake2containerx">
        <div class="cakepiece">
            <span class="cakepiecevalue">Burned to date</span>
            <span class="cakepiecevalue2">426,692,888</span>
        </div>

    </div>
    <div class="cake2containerx">

        <div class="cakepiece">
            <span class="cakepiecevalue">Market cap</span>
            <span class="cakepiecevalue2">$2.4 billion</span>
        </div>

    </div>
     <div class="cake2containerx">
       
        <div class="cakepiece">
            <span class="cakepiecevalue">Current emissions</span>
            <span class="cakepiecevalue2">14.25/block</span>
        </div>
      

    </div>

              
                  
               
</div>

