#initial {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.row {
  cursor: pointer;
  padding: 10px 8px;
  border-bottom: 2px solid rgba(25, 19, 38, 0.15);
}

.hidden {
  background-color: var(--secondary-color-white4);
  padding: 22px 30px;
  border-bottom: 0px;
}

.main-info {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 5px;
  margin-right: 3vw;
}

.pools-ico {
  width: 20px;
  height: inherit;
  position: relative;
  inset: 12px 50px;
  z-index: 1;
  border-radius: 100px;
  background-color: rgba(25, 19, 38, 0.36);
  border: 1px solid rgba(0, 0, 0, 0.21);
}

.pools-avatar {
  width: 40px;
  border-radius: 100px;
  background-color: rgba(25, 19, 38, 0.36);
  border: 1px solid rgba(0, 0, 0, 0.21);
}

.name {
  margin-top: 2vh;
  margin-left: 0.5vw;
  line-height: 15px;
  font-size: 15px;
  color: var(--secondary-color-blue);
  font-weight: 700;
}

.name p {
  width: 100px;
  font-size: 12px;
  line-height: 10px;
  color: var(--secondary-color-violet1);
  font-weight: 500;
}

.info {
  display: flex;
  flex-direction: column;
  line-height: 15px;
  align-self: flex-start;
  margin-top: 2vh;
}

.info {
  flex: 1.5;
}

.info.endsIn {
  flex: 1;
}

.title {
  font-size: 12px;
  color: var(--secondary-color-violet1);
}

.apr .number,
.totalStaked .number.apr {
  cursor: pointer;
}

.apr .number:hover,
.totalStaked .number.apr:hover {
  opacity: 0.6;
}

.number {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 16px;
  color: var(--secondary-color-blue);
}

.earn-number {
  font-size: 16px;
  font-weight: 900;
  color: var(--secondary-color-gray);
}

.earn-number-under {
  font-size: 13px;
  font-weight: 600;
  color: var(--secondary-color-gray);
}

.apr img {
  margin-left: 0.2vw;
  width: 18px;
  filter: invert(47%) sepia(4%) saturate(5047%) hue-rotate(212deg)
    brightness(95%) contrast(82%);
}

.title.space {
  color: white;
}

.space {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.endsIn-clock {
  width: 20px;
  filter: invert(13%) sepia(24%) saturate(4036%) hue-rotate(238deg)
    brightness(108%) contrast(119%);
}

.hide-button {
  flex: 1.2;
  margin-left: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hide-button label {
  cursor: pointer;
  color: var(--primary-color-cyan);
  font-weight: 600;
}

.hide-button input {
  display: none;
}

.hide-button img {
  width: 20px;
  filter: invert(75%) sepia(21%) saturate(1794%) hue-rotate(132deg)
    brightness(91%) contrast(81%);
}

.link-details {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.link-details a img {
  width: 20px;
  filter: invert(75%) sepia(21%) saturate(1794%) hue-rotate(132deg)
    brightness(91%) contrast(81%);
  margin-left: 0.3vw;
}

.link-details a,
a:link,
a:visited {
  font-size: 15px;
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  color: var(--primary-color-cyan);
  font-weight: 600;
}

.link-details a:hover {
  text-decoration: underline var(--primary-color-cyan);
}

.under-link {
  display: flex;
  flex-direction: row;
}

.under-link img {
  width: 20px;
  margin-top: 5px;
  filter: invert(46%) sepia(15%) saturate(1111%) hue-rotate(211deg) brightness(96%) contrast(93%);
  margin-left: 0.3vw;
}

.manual, .auto {
  margin-top: 0.5vh;
  font-size: 13px;
  width: fit-content;
  padding: 2px 9px;
  color: var(--primary-color-violet);
  text-transform: capitalize;
  border-radius: 25px;
  gap: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.manual {
  color: var(--primary-color-violet);
  border: 2px solid var(--primary-color-violet);
}

.auto {
 color: rgb(49, 208, 170);
 border: 2px solid rgb(49, 208, 170);;
}

.manual img, .auto img {
  width: 18px;
  margin-top: -0.5px;
  margin-left: -1px;
}

.manual img {
  filter: invert(27%) sepia(78%) saturate(2042%) hue-rotate(246deg)
    brightness(90%) contrast(89%);
}

.auto img {
  filter: invert(68%) sepia(44%) saturate(664%) hue-rotate(115deg) brightness(95%) contrast(83%);
}

.title-cake {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.title-cake h6 {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin-bottom: 1px;
  font-weight: 600;
  color: var(--primary-color-violet);
}

.title-cake h6:last-child {
  color: var(--secondary-color-violet1);
}

.details-earned {
  width: inherit;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.06);
  padding: 16px;
  margin: 0px 1.5vw;
}

.details-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.h2-20 {
  color: var(--secondary-color-blue);
}

.details-number .btn3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary-color-gray);
  padding: 25px;
  border-radius: 18px;
  font-size: 16px;
}

.details-number .btn1 {
  font-size: 20px;
  width: 100%;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  padding: 25px;
  border-radius: 18px;
  font-size: 16px;
}

.top-info-hidden {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--secondary-color-blue);
}

.top-cake-hidden {
  width: 250px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--secondary-color-blue);
}

.top-cake-hidden label:first-child {
  text-decoration: underline dotted;
}


.number_hidden {
  color: var(--primary-color-cyan);
}

.number_hidden img {
  filter: invert(86%) sepia(21%) saturate(7396%) hue-rotate(131deg)
    brightness(93%) contrast(77%);
}
