<div class="home-trade-container">
  <div class="home-trade-inner">
    <h2>Trade</h2>
    <h2 class="h2m">anything. No registration, no hassle.</h2>
    <div class="p">
      <p>
        Trade any token on BNB Smart Chain in seconds, just by connecting your
        wallet.
      </p>
    <div class="img"></div>
      <img
        src="/assets/svg/coin@2x.webp
      "
        alt=""
      />
      <img
        src="/assets/svg/BTC@2x.webp
      "
        alt=""
      />
      <img
        src="/assets/svg/BNB@2x.webp
      "
        alt=""
      />
    </div>
    <button class="btn1">Trade Now</button>
    <button class="btn3">Learn</button>
  </div>
</div>
