<div class="home-trade-container">
  <div class="home-trade-inner">
    <div class="img">
      <pancakeswap-trade-anim> </pancakeswap-trade-anim>
    </div>
    <h2 class="h2-40">
    <span class="trade">Trade</span> anything. No<br />
    registration, no hassle.
  </h2>
    <div class="p">
      <p>
        Trade any token on BNB Smart Chain in seconds, just by connecting your
        wallet.
      </p>
      <button class="btn1">Trade Now</button>
      <a href="https://docs.pancakeswap.finance">Learn</a>
    </div>
  </div>
</div>
