<div class="foreground-container" *ngIf="foregroundView; else winForeground">
  <div class="trading-competiton">
    <div class="details">
      <h3 class="title">Trading Competition</h3>
      <h2 class="description">$80,000 IN PRIZES</h2>
      <button class="btn2">
        Trade Now
        <img src="/assets/svg/right_arrow.svg" alt="right_arrow" />
      </button>
    </div>
    <div class="foreground-img">
      <img
        src="/assets/Logos/homepage-logos/mbox-tc-desktop.png"
        class="competition-img"
        alt="Angelo"
      />
    </div>
  </div>
</div>

<ng-template #winForeground>
  <div class="foreground-container">
    <div class="win-lottery">
      <div class="details">
        <h3 class="title">Win ${{ lotteryInfo.jackpot }} in Lottery</h3>
        <div class="description">
          <h2 class="hours" *ngIf="lotteryInfo.date.hours > 0">
            {{ lotteryInfo.date.hours }}h
          </h2>
          <h2
            class="minutes"
            *ngIf="(lotteryInfo.date.hours || lotteryInfo.date.minutes) > 0"
          >
            {{ lotteryInfo.date.minutes }}m
          </h2>
          <h2
            class="seconds"
            *ngIf="
              (lotteryInfo.date.hours ||
                lotteryInfo.date.minutes ||
                lotteryInfo.date.seconds) > 0
            "
          >
            {{ lotteryInfo.date.seconds }}s
          </h2>
        </div>
        <button class="btn2">
          Trade Now
          <img src="/assets/svg/right_arrow.svg" alt="right_arrow" />
        </button>
      </div>
      <div class="foreground-img">
        <img
          src="/assets/Logos/homepage-logos/lottery.png"
          class="lottery-img"
          alt="Angelo"
        />
      </div>
    </div>
  </div>
</ng-template>
